<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ktymkyc.mysteryjobs">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        ... >

        <!-- 通知アイコンの指定 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
            
        <!-- 任意：通知時の背景色指定 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
    </application>

</manifest>