:root {
  --color-s: #DDDDDD;
  --color-primary: #FC4CFF;
  --color-secondary: #E5FF63;
  --color-background: #FFFFFF;
  --color-disabled: #E6C1E6;
  --color-disabledText: #F7ECF7;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
}
